---
extends: default

ignore: |
  clusters/**/secrets/**
  clusters/**/sops/**
  clusters/**/flux-system/gotk-*.yaml
  clusters/**/flux-system/gotk-*.yml
  scripts/encrypt-secret.yaml
  ansible/**

rules:
  line-length:
    max: 120
    level: warning
  comments:
    min-spaces-from-content: 2
